#utility-nav,
#facebook,
#header,
#slideshow,
#footer,
video,
audio,
object,
embed,
.clear {
	display: none;
}

img {
	max-width: 500px;
	padding: 10px;
}

@page {
	margin: 0.75cm;
}

body {
font: 10pt Georgia, "Times New Roman", Times, serif;
line-height: 1.2;
}

h1 {
font-size: 18pt;
font-family:Verdana, Geneva, sans-serif;
font-weight:bold;
}

h2 {
font-size: 16pt;
font-family:Verdana, Geneva, sans-serif;
margin-top: 25px;
font-weight:bold;
}

h3 {
font-size: 14pt;
font-family:Verdana, Geneva, sans-serif;
margin-top: 20px;
font-weight:bold;
}

h4 {
font-size: 12pt;
font-family:Verdana, Geneva, sans-serif;
margin-top: 1.4;
font-weight:bold;
}

h5 {
font-size: 10pt;
font-family:Verdana, Geneva, sans-serif;
margin-top: 1.4;
font-weight:bold;
}

h6 {
font-size: 10pt;
font-family:Verdana, Geneva, sans-serif;
margin-top: 1.4;
font-style:italic;
}

.left {
	text-align:left;
	float: left;
}

.right {
	text-align:right;
	float: right;
}

p a:after {
content: " (" attr(href) ")";
font-size: 80%;
}

p a[href^="http://"]:after {
content: " (" attr(href) ")";
font-size: 90%;
}

p a:after {
content: " (http://www.accvets.net/" attr(href) ")";
}

p a[href^="#"]:after {
display: none;
}

p a[href^="http://"]:after, a[href^="https://"]:after {
content: " (" attr(href) ")";
}

p a {
word-wrap: break-word;
}

p, 
a {
color: #000000;
}

#right-nav,
#container {
border-top: 1px solid #bbb;
margin-top: 30px;
display: block;
}